In [1]:
import numpy as np
import pandas as pd

In [87]:
num_assets = 10
np.random.seed(42)
# returns = np.random.randn(10,num_assets) / 100 
returns = np.ones((10,10))/100*5
print(returns.shape)

(10, 10)

In [88]:
col_names = [ "c"+ str(r) for r in range(0,num_assets)]
df_returns = pd.DataFrame(returns, columns=col_names)
print(df_returns)

     c0    c1    c2    c3    c4    c5    c6    c7    c8    c9
0  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
1  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
2  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
3  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
4  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
5  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
6  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
7  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
8  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
9  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05

In [47]:
def ret2tick(df_returns, base=100):
    _,w = df_returns.shape
    df_zeros = pd.DataFrame( np.zeros((1,w)), columns=df_returns.columns.values )
    df_ret = pd.concat([df_zeros, df_returns], ignore_index=True)
    df_prices = base * ( 1 + df_ret ).cumprod(axis=0)
    return df_prices

In [67]:
def tick2ret(df_prices):
    df_returns = df_prices.pct_change(1)
    df_returns = df_returns.iloc[1:,:]
    df_returns.reset_index(inplace=True)
    df_returns.drop("index", axis=1, inplace=True)
    return df_returns

In [89]:
ret2tick(df_returns)

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
2,110.250000,110.250000,110.250000,110.250000,110.250000,110.250000,110.250000,110.250000,110.250000,110.250000
3,115.762500,115.762500,115.762500,115.762500,115.762500,115.762500,115.762500,115.762500,115.762500,115.762500
4,121.550625,121.550625,121.550625,121.550625,121.550625,121.550625,121.550625,121.550625,121.550625,121.550625
5,127.628156,127.628156,127.628156,127.628156,127.628156,127.628156,127.628156,127.628156,127.628156,127.628156
6,134.009564,134.009564,134.009564,134.009564,134.009564,134.009564,134.009564,134.009564,134.009564,134.009564
7,140.710042,140.710042,140.710042,140.710042,140.710042,140.710042,140.710042,140.710042,140.710042,140.710042
8,147.745544,147.745544,147.745544,147.745544,147.745544,147.745544,147.745544,147.745544,147.745544,147.745544
9,155.132822,155.132822,155.132822,155.132822,155.132822,155.132822,155.132822,155.132822,155.132822,155.132822
10,162.889463,162.889463,162.889463,162.889463,162.889463,162.889463,162.889463,162.889463,162.889463,162.889463

In [94]:
tick2ret( ret2tick(df_returns)  )

     c0    c1    c2    c3    c4    c5    c6    c7    c8    c9
0  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
1  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
2  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
3  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
4  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
5  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
6  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
7  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
8  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05
9  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05  0.05